In [1]:
import sys
from pathlib import Path

parent = str(Path().resolve().parent)
if parent not in sys.path:
    sys.path.insert(0, parent)

In [2]:
import pandas as pd

from functions.member_fetch_functions import members_to_df, webscrape_members

In [3]:
df_musicans = pd.read_csv("../data/wip/musicians.csv")
df_groups = pd.read_csv("../data/wip/music_groups.csv")

In [4]:
df_groups["member"] = df_groups["title"].apply(members_to_df)

In [5]:
empty_member_indices = df_groups[df_groups["member"].apply(lambda x: x == [])].index

df_groups.loc[empty_member_indices, "member"] = df_groups.loc[empty_member_indices, "title"].apply(webscrape_members)

In [6]:
# df_groups.to_csv("data/groups_wMembers.csv", index=False)
df_groups

,pageid,title,member
0,489818,A Friend in London,[Tim Schou]
1,157530,Ache,"[Per Wium, Peter Mellin, Finn Olafsson, Steen ..."
2,255559,ADS (band),"[Michael ""Funder"" Thorlasius, Stig Pedersen, S..."
3,976777,Agathorn,[]
4,493993,Alabama Black Snakes,[]
...,...,...,...
1029,37360,Odense Symfoniorkester,[]
1030,162784,Sjællands Symfoniorkester,[]
1031,10733,Sønderjyllands Symfoniorkester,[]
1032,369172,Aalborg Symfoniorkester,[]
1033,373862,Aarhus Symfoniorkester,[]